- css_title= "interurbanos"

include head.jade
  body
    include header.jade
    .body
      .container-busca
        .busacdor-bar
          input(type="text", placeholder=placeholderText).input
          button.buscar= buttonTextSearch
        p= instructionText1
        p= instructionText2
        .button-container
          button.horario= buttonTextHorario