- css_title= "metro"

include head.jade
  body
    include header.jade
    .body
      .app
        .headerCercanias
          h1 Metro
      .options
        .planoRenfe
          form(method="get", action="/transportePublico/metro/planos")
            button.planoRenfe-button
              img(src="/images/mapIcon.svg", alt="").mapIcon
            p Planos
      .paradas
        input(type='text', placeholder='Nombre de parada').input

      form(method="get", action="/transportePublico/metro/paradaMetro")
        ul.station-list
          each stop in stops
            li.station
              button.stationLink(type="submit", name="stop_id", value="#{stop.STOP_ID}")
                .station-data
                  img(src="/images/renfeLogo.png", alt="").icon
                  .station-name #{stop.STOP_NAME}
                .station-numbers
                  each route in stopRoutes[stop.STOP_NAME]
                    .station-number(style="background-color: \##{route.ROUTE_COLOR}; color: \##{route.ROUTE_TEXT_COLOR}") #{route.ROUTE_SHORT_NAME} 
  