doctype html
html
  head
    title= "iMOve"
    link(rel='stylesheet', href='/stylesheets/noticias.css')
  body
    block content

  header.header
    .logo-global 
      img(src="../public/images/iMove_logo.png").logo
    .tabs-global
      nav.menuNav 
        ul.tabList 
          li.tab
            a(href="../") Home
          li.tab
            a(href="../urbanos/") Transportes
          li.tab
            a(href="#") Noticias

  .container
  h1.page-title #{title}
    .news-container
      .news-item
        img(src="/images/Bus.jpg").ima
        .news-content
          h2.news-title #{titleNoticia}
          p.news-date #{fecha}
          p.news-description #{noticia}
      hr.divider
      .news-item
        img(src="/images/Bus.jpg").ima
        .news-content
          h2.news-title #{titleNoticia}
          p.news-date #{fecha}
          p.news-description #{noticia}
      hr.divider
      .news-item
        img(src="/images/Bus.jpg").ima
        .news-content
          h2.news-title #{titleNoticia}
          p.news-date #{fecha}
          p.news-description #{noticia}
          
 
