- css_title= "paradaRenfe"

include head.jade
  body
    include header.jade 
    .body 
      .body-global 
        .body-child-superior
          .datosParada
            .nombreParada-padre
              h1#nombre_parada #{stopCard.STOP_NAME}
            .numerosLineas#lineas
              each route in routesSingle
                .numLinea-padre 
                  span(style="background-color: \##{route.ROUTE_COLOR};") #{route.ROUTE_SHORT_NAME}

        .body-child-inferior 
          .text-superior  
            p Tiempo real
          each route in stopCard.ROUTE_LIST
            .card-inferior
              .card-inferior-left
                .numLinea2#card_linea_corto(style="background-color: \##{route.ROUTE_COLOR};")
                  p #{route.ROUTE_SHORT_NAME}
              .card-inferior-right
                .nombreParada-parent#card_linea_largo
                  p.nombreParada #{route.ROUTE_LONG_NAME}
                .container-tiempos#card_tiempos
                  each stop_time in route.RENFE_STOP_TIMES
                    .tiempo-parent
                      p.tiempo #{stop_time.DEPARTURE_TIME}