- css_title= "paradaMetro"

include head.jade 
  body
    include header.jade 
    .body 
      .body-global 
        .body-child-superior
          .datosParada
            .nombreParada-padre
              h1 #{stops[0].STOP_NAME}
            .numerosLineas
              each stop in stops
                each route in stopRoutes[stop.STOP_ID]
                  .numLinea-padre 
                    span(style="background-color: \##{route.ROUTE_COLOR};") #{route.ROUTE_SHORT_NAME}
        .card_inferior#warning_no_data
          p Actualmente no disponemos de ningún servicio
          img(src="/images/errorIcon.svg", alt="")
        .body-child-inferior 
          .text-superior
            p Tiempo real
          each stop in stops
            each route in stopRoutes[stop.STOP_ID]
              if Object.keys(routeTrips).length > 0
                each trip in routeTrips[route.ROUTE_ID]
                  .card-inferior
                    .card-inferior-left
                      .numLinea2(style="background-color: \##{route.ROUTE_COLOR};")
                        p #{route.ROUTE_SHORT_NAME}
                    .card-inferior-right
                      .nombreParada-parent
                        p.nombreParada #{trip.TRIP_SHORT_NAME}
                      .container-tiempos
                        each stop_time in tripStopTimes[trip.TRIP_ID]
                          .tiempo-parent
                            p.tiempo #{stop_time.DEPARTURE_TIME}
    script(src="/js/relative_times.js")